@import "tailwindcss";

/* Bold (e.g., 700) */
@font-face {
  font-family: "PMNCaeciliaSansHead";
  src: url("/fonts/PMNCaeciliaSansHeadBd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PMNCaeciliaSansHead";
  src: url("/fonts/PMNCaeciliaSansHeadHv.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "PMNCaeciliaSansHead";
  src: url("/fonts/PMNCaeciliaSansHeadRg.ttf") format("truetype");
  font-weight: 400, 500;
  font-style: normal;
}
@font-face {
  font-family: "PMNCaeciliaSansHead";
  src: url("/fonts/PMNCaeciliaSansHeadTh.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PMNCaeciliaSansHead";
  src: url("/fonts/PMNCaeciliaSansHeadLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@theme {
  --color-background: #ffffff;
  --gradient-background: linear-gradient(90deg, #3845e2 0%, #7755ff 100%);
  --color-text-secondary: #4a4a4a;
  --color-text-primary: #0d121c;
  --color-bg-grey: #f3f3f3;
  --color-primary: #4919dd;
  --color-secondary: #7755ff;
  --font-caecilia: "PMNCaeciliaSansHead", Helvetica, sans-serif;
  --font-poppins: var(--font-poppins);
  --color-border: rgb(206, 206, 234);
}

button,
a {
  cursor: pointer;
}

@layer utilities {
  body {
    font-family: var(--font-caecilia);
    font-weight: 400;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    overflow-x: hidden;
  }
  .bg-gradient-primary {
    background: var(--gradient-background);
  }
  .bg-gradient-primary:hover {
    background: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-secondary),
      var(--color-primary)
    );
    background-size: 200% auto;
    animation: gradient-slide 1s ease-in-out;
    scale: 1.05;
    transition: all 0.3s ease-in-out;
  }
  .hover-white-button:hover {
    background: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-secondary),
      var(--color-primary)
    );
    background-size: 200% auto;
    animation: gradient-slide 1s ease-in-out;
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    color: white;
  }

  .bg-gradient-primary:active {
    background: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-secondary),
      var(--color-primary)
    );
    background-size: 200% auto;
    animation: gradient-slide 1s ease-in-out;
    scale: 0.95;
    transition: all 0.3s ease-in-out;
  }
  .custom-shadow {
    box-shadow: 0px 10px 15px -3px #4919dd1a;
  }

  @keyframes gradient-slide {
    100% {
      background-position: 200% 0;
    }
  }

  .animate-gradient {
    background: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-secondary),
      var(--color-primary)
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-slide 5s ease-in-out infinite;
  }

  .custom-shadow-2 {
    @apply shadow-[0px_15px_50px_0px_rgba(73,25,221,0.16)];
  }
  .custom-shadow-3 {
    box-shadow: 4px 0px 40px -3.12px #4919dd14;
  }

  .custom-shadow-4 {
    box-shadow: 0px 4px 6px -2px #4919dd08;
    box-shadow: 0px 12px 16px -4px #4919dd14;
  }
  .custom-shadow-5 {
    box-shadow: 0px 4px 6px -4px #4919dd1a;

    box-shadow: 0px 10px 15px -3px #4919dd1a;
  }
  .custom-dark-shadow {
    box-shadow: 0px 28px 243px -79px #00000029;
  }

  .swiper-pagination-bullet {
    background-color: #d1d5db; /* default gray-300 */
    opacity: 1;
    transition: all 0.3s ease;
    margin-top: 50px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #4919dd !important; /* Tailwind's indigo-500 */
    width: 30px !important;
    border-radius: 10px !important;
  }
  .testimonial-slider-new .swiper-pagination {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    padding-right: 150px !important;
    padding-bottom: 50px !important;
  }
  .testimonial-slider-new .swiper-pagination .swiper-pagination-bullet {
    background-color: #fff !important; /* white */
    opacity: 1 !important;
  }
  .testimonial-slider-new .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4919dd !important; /* Tailwind's indigo-500 */
    width: 30px !important;
    border-radius: 10px !important;
  }

  .marketing-grid-card {
    @apply p-6 rounded-2xl bg-black/40 border border-white/20 backdrop-blur-sm;
  }
  .component-heading {
    @apply text-2xl md:text-[38px] 2xl:text-5xl font-bold font-caecilia text-text-primary;
  }
  .text-gradient-primary {
    background: var(--gradient-background) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
    line-height: 110%;
  }
  .main-cont {
    @apply container mx-auto py-16 relative px-6  lg:px-10 xl:px-24 2xl:max-w-screen-xl 2xl:px-6;
  }

  .anim:hover {
    background: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-secondary),
      var(--color-primary)
    );
    background-size: 200% auto;
    animation: gradient-slide 1s ease-in-out;
    scale: 1.05;
    transition: all 0.3s ease-in-out;
  }
  .custom-shadow-blue {
    box-shadow: rgba(74, 25, 221, 0.461) 0px 13px 27px -5px,
      #4a19dd53 0px 8px 16px -8px;
  }
  @media (max-width: 768px) {
    .testimonial-slider-new .swiper-pagination {
      display: none !important;
      justify-content: center !important;
      align-items: center !important;
      padding-right: 0px !important;
      padding-bottom: 0px !important;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  z-index: 1;
  width: 100%;
  height: 16px;
  background: linear-gradient(
    to right,
    #5f21ff var(--val, 50%),
    #fff var(--val, 50%)
  );
  border-radius: 999px;
  outline: 1px solid #4919dd;
  padding: 0;
  position: relative;
}

/* Track for Chrome/Safari */
input[type="range"]::-webkit-slider-runnable-track {
  height: 16px;
  background: transparent; /* main gradient is on input */
  border-radius: 999px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 100%;
  background: white;
  border: 2px solid #5f21ff;
  border-radius: 20px;
  cursor: pointer;
  background: white
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'><path fill='%235f21ff' d='m13.29 7.71 4.3 4.29-4.3 4.29 1.42 1.42 5.7-5.71-5.7-5.71zM10.71 16.29 6.41 12l4.3-4.29-1.42-1.42L3.59 12l5.7 5.71z'/></svg>")
    no-repeat center;

  z-index: 99;
}

/* Track for Firefox */
input[type="range"]::-moz-range-track {
  height: 16px;
  background: #fff;
  border-radius: 999px;
}

/* Thumb for Firefox */
input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 16px;
  background: white;
  z-index: 1;
  border: 2px solid #5f21ff;
  border-radius: 50%;
  cursor: pointer;
}
/* Optional markers inside track */
input[type="range"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: white;
  border: 1px solid #4919dd;
  z-index: -1;
  border-radius: 50%;
  box-sizing: border-box;

  /* extra circles as shadows */
  box-shadow: 100px 0 white, /* move horizontally */ 100px 0 0 1px #4919dd,
    /* border for that one */ 200px 0 white, 200px 0 0 1px #4919dd;
}

input[type="range"]::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: white;
  border: 1px solid #4919dd;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: -100px 0 white, /* move horizontally */ -100px 0 0 1px #4919dd;
}
