name: Deploy to EC2

on:
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Install ALL dependencies (including dev)
        run: npm ci
      
      - name: Build Next.js
        run: npm run build
      
      - name: Restart PM2
        run: |
          pm2 restart taskifi || pm2 start npm --name "taskifi" -- start -- --port 3000
          pm2 save